body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    font-weight: bold;
}
h1 {
    font-style: italic;
}
.th {
    font-variant-caps: all-petite-caps;
}
a {
    color: #00f;
    text-decoration-line: underline;
}
a:visited {
    color: #005;
    text-decoration-line: underline;
}
a:hover {
    text-decoration-line: none;
}
ul {
    list-style: square;
}
